@{
    ViewData["Title"] = "Home Page";
    // Layout = "";
}


<h2>Pages</h2>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND">SND</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="CoCreationIdeasAr">CoCreationIdeasAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopSearchAr">HomeDesktopSearchAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND2">SND2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundDesktopEn">NotFoundDesktopEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundDesktopAr">NotFoundDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundEn">NotFoundEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundAr">NotFoundAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationEn">EParticipationEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ConsultationsEn">ConsultationsEn</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND2">SND2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="CoCreationIdeasEn">CoCreationIdeasEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="OpenDataEn">OpenDataEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationPolicyEn">EParticipationPolicyEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SocialMediaEn">SocialMediaEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ComplaintsSuggestionsEn">ComplaintsSuggestionsEn</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="BeneficiaryVoiceReportsEn">BeneficiaryVoiceReportsEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="WebsiteServicesStatisticsEn">WebsiteServicesStatisticsEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationAr">EParticipationAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ConsultationsAr">ConsultationsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="OpenDataAr">OpenDataAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationPolicyAr">EParticipationPolicyAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SocialMediaAr">SocialMediaAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ComplaintsSuggestionsAr">ComplaintsSuggestionsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="BeneficiaryVoiceReportsAr">BeneficiaryVoiceReportsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="WebsiteServicesStatisticsAr">WebsiteServicesStatisticsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="Icons">Icons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopHeroEn">HomeDesktopHeroEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopSearchEn">HomeDesktopSearchEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopEn">HomeDesktopEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopLightEn">HomeDesktopLightEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopHeroAr">HomeDesktopHeroAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopAr">HomeDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopLightAr">HomeDesktopLightAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeEn">HomeEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeAr">HomeAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsEn">ContactUsEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsAr">ContactUsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsDesktopEn">ContactUsDesktopEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsDesktopAr">ContactUsDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormEn">FormEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormAr">FormAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormDesktopEn">ContactUsDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormDesktopAr">FormDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterEn">HelpCenterEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterAr">HelpCenterAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterDesktopEn">HelpCenterDesktopEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterDesktopAr">HelpCenterDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceEn">ServiceEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceAr">ServiceAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceDesktopEn">ServiceDesktopEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceDesktopAr">ServiceDesktopAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SearchPageEnRows">SearchPageEnRows</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SearchPageEnCards">SearchPageEnCards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FAQsEn">FAQsEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FAQsAr">FAQsAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SiteMapPageEn">SiteMapPageEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SiteMapPageAr">SiteMapPageAr</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContentPageEn">ContentPageEn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContentPageAr">ContentPageAr</a>
        </li>
    </ul>
</div>


<h1>Sections</h1>


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                 <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Hero1">SND_Hero1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_HeroAr">SND_HeroAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Hero2">SND_Hero2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Footer">SND_Footer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Footer2">SND_Footer2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Footer3">SND_Footer3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="SND_Footer4">SND_Footer4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="CookiesEn">CookiesEn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="CookiesAr">CookiesAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="ManageCookiesEn">ManageCookiesEn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="ManageCookiesAr">ManageCookiesAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="MessageCookiesEn">MessageCookiesEn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="MessageCookiesAr">MessageCookiesAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="ChatBotEn">ChatBotEn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="ChatBotAr">ChatBotAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="FloatingButton">FloatingButton</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_Footer">Home_Footer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_FooterAr">Home_FooterAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_Hero">Home_Hero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_HeroAr">Home_HeroAr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_Cards">Home_Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Home_NewsCards">Home_NewsCards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="FeedbackDesktop">FeedbackDesktop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Feedback">Feedback</a>
                </li>
            </ul>
        </div>