@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div data-device="Desktop" data-opened="no" data-rtl="Yes" style="align-self: stretch; height: 32px; padding-left: 32px; padding-right: 32px; background: var(--Background-background-neutral-100, #F3F4F6); overflow: hidden; align-items: center; gap: 10px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 10px; display: flex">
        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                <div style="width: 5px; height: 9px; left: 3.50px; top: 10.50px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Link-link-icon-primary-focused, #1B8354)"></div>
            </div>
            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">كيف تتحقق؟</div>
        </div>
        <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">موقع حكومي مسجل لدى هيئة الحكومة الرقمية</div>
        <div data-flags="Saudi Arabia" data-shape="Square" data-size="Medium" style="width: 20px; height: 14px; position: relative; background: white; overflow: hidden">
            <div style="width: 20px; height: 14px; left: 0px; top: 0px; position: absolute; background: #006923"></div>
            <div style="left: 3px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 1.30px; display: inline-flex">
                <div style="width: 14px; height: 5.06px; background: white"></div>
                <div style="width: 12.15px; height: 2.03px; background: white"></div>
            </div>
        </div>
    </div>
    <i class="hgi-stroke hgi-abacus"></i>
</div>

