@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="align-self: stretch; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-menu, white); flex-direction: column; justify-content: center; align-items: center; display: flex">
    <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="justify-content: flex-end; align-items: center; display: flex">
            <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تسجيل الدخول</div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
            </div>
            <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">English</div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
            </div>
            <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">البحث</div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                </div>
            </div>
        </div>
        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
            <div style="justify-content: flex-start; align-items: center; display: flex">
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 7</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 6</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 5</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 4</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 3</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 2</div>
                    </div>
                </div>
                <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 1</div>
                    </div>
                </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div data-logo-position="Side" data-rtl="True" data-size="Medium" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                    <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شعار المنصة</div>
                    <div style="width: 48px; height: 48px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1440px; height: 1px; left: 0px; top: 71px; position: absolute; background: var(--Colors-Neutral-300, #D2D6DB)"></div>
</div>

