@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div data-rtl="Yes" data-show-action-2="true" data-show-action-3="true" data-show-action-4="true" data-show-actions="true" data-show-content="true" data-show-divider="true" data-show-item-2="true" data-show-item-3="true" data-show-item-4="true" data-style="Gray" style="width: 1440px; height: 40px; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-neutral-100, #F3F4F6); border-top: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
            <div style="justify-content: flex-end; align-items: center; gap: 6px; display: flex">
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 14.58px; height: 17.92px; left: 2.71px; top: 1.04px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 12.92px; left: 1.04px; top: 3.54px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">الرياض</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">2:30 مساءً</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">3-سبتمبر-2024</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.50px; height: 21.50px; left: 1.75px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">غائم</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 16.50px; left: 1.25px; top: 3.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-color="Neutral" data-line-type="Horizontal" style="width: 1440px; height: 1px; left: 0px; top: 39px; position: absolute">
            <div style="width: 1440px; height: 1px; left: 0px; top: 0px; position: absolute; background: var(--Border-border-neutral-primary, #D2D6DB)"></div>
        </div>
    </div>
