@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <div data-device="Desktop" data-opened="no" data-rtl="Yes" style="align-self: stretch; height: 32px; padding-left: 32px; padding-right: 32px; background: var(--Background-background-neutral-100, #F3F4F6); overflow: hidden; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
        <div style="justify-content: flex-start; align-items: center; gap: 10px; display: flex">
            <div data-icon="true" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                    <div style="width: 5px; height: 9px; left: 3.50px; top: 10.50px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Link-link-icon-primary-focused, #1B8354)"></div>
                </div>
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">كيف تتحقق؟</div>
            </div>
            <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">موقع حكومي مسجل لدى هيئة الحكومة الرقمية</div>
            <div data-flags="Saudi Arabia" data-shape="Square" data-size="Medium" style="width: 20px; height: 14px; position: relative; background: white; overflow: hidden">
                <div style="width: 20px; height: 14px; left: 0px; top: 0px; position: absolute; background: #006923"></div>
                <div style="left: 3px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 1.30px; display: inline-flex">
                    <div style="width: 14px; height: 5.06px; background: white"></div>
                    <div style="width: 12.15px; height: 2.03px; background: white"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-rtl="Yes" data-show-action-2="true" data-show-action-3="true" data-show-action-4="true" data-show-actions="true" data-show-content="true" data-show-divider="true" data-show-item-2="true" data-show-item-3="true" data-show-item-4="true" data-style="Gray" style="width: 1440px; height: 40px; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-neutral-100, #F3F4F6); border-top: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
            <div style="justify-content: flex-end; align-items: center; gap: 6px; display: flex">
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 14.58px; height: 17.92px; left: 2.71px; top: 1.04px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 12.92px; left: 1.04px; top: 3.54px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">الرياض</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">2:30 مساءً</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">3-سبتمبر-2024</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.50px; height: 21.50px; left: 1.75px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">غائم</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 16.50px; left: 1.25px; top: 3.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-color="Neutral" data-line-type="Horizontal" style="width: 1440px; height: 1px; left: 0px; top: 39px; position: absolute">
            <div style="width: 1440px; height: 1px; left: 0px; top: 0px; position: absolute; background: var(--Border-border-neutral-primary, #D2D6DB)"></div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-menu, white); flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="justify-content: flex-end; align-items: center; display: flex">
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تسجيل الدخول</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">English</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">البحث</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                <div style="justify-content: flex-start; align-items: center; display: flex">
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 7</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 6</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 5</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 4</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 3</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 2</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 1</div>
                        </div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-logo-position="Side" data-rtl="True" data-size="Medium" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 48px; height: 48px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 1440px; height: 1px; left: 0px; top: 71px; position: absolute; background: var(--Colors-Neutral-300, #D2D6DB)"></div>
    </div>
    <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-primary-50, #F3FCF6); overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
            <div data-levels="2" data-rtl="True" style="justify-content: flex-end; align-items: center; display: inline-flex">
                <div data-rtl="True" data-type="Current" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                    <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Disabled" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div style="text-align: right; color: var(--Global-text-default-disabled, #9DA4AE); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                        <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                    </div>
                </div>
                <div data-rtl="True" data-type="Root" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                    <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">الشكاوى والمقترحات</div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: flex">
        <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex">
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">الطلبات</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">تقديم بلاغ </div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">الشكاوى</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex">
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="width: 410.67px; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">التصعيد على منصة</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="width: 410.67px; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">استفسارات</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 16px; padding-bottom: 16px; background: var(--Background-background-white, white); overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="flex: 1 1 0; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 - 4:13 م بتوقيت السعودية</div>
        </div>
        <div data-show-feedback="true" data-show-rating="false" style="width: 1440px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div data-rtl="yes" data-section="Default" style="align-self: stretch; height: 88px; padding-left: 80px; padding-right: 80px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="flex: 1 1 0; max-width: 1280px; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                    <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                        <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
                    </div>
                    <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">لا</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">نعم</div>
                                </div>
                            </div>
                        </div>
                        <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-background-color="Dark green" data-breakpoint="600+" data-nav-links="true" data-rtl="True" style="width: 1440px; padding-left: 32px; padding-right: 32px; background: var(--Background-background-SA-Flag, #074D31); justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; max-width: 1280px; padding-top: 40px; padding-bottom: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 48px; display: inline-flex">
            <div style="align-self: stretch; padding-top: 16px; padding-bottom: 40px; justify-content: flex-end; align-items: flex-start; gap: 24px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                <div style="flex: 1 1 0; min-width: 180px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 32px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; padding-bottom: 8px; border-bottom: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تابعنا على</div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 16.25px; height: 16.25px; left: 1.88px; top: 1.88px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.08px; height: 17.08px; left: 1.46px; top: 1.46px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; padding-bottom: 8px; border-bottom: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">أدوات الاتاحة والوصول</div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 14.58px; height: 16.25px; left: 2.65px; top: 1.87px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.92px; height: 12.92px; left: 1.04px; top: 3.54px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; min-width: 180px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                    <div style="align-self: stretch; padding-bottom: 8px; border-bottom: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                        <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">الاتصال والدعم</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">مركز العملاء</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تواصل معنا</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">شارك معنا</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تقديم شكوى</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">الإبلاغ عن الفساد</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; min-width: 180px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                    <div style="align-self: stretch; padding-bottom: 8px; border-bottom: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                        <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">روابط مهمة</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">بوابة الخدمة الوطنية</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">البيانات الحكومية المفتوحة</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="flex: 1 1 0; text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">الاستراتيجية الوطنية للبيانات والذكاء الاصطناعي</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">بوابة البيانات المفتوحة</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">بوابة المشاركة الإلكترونية</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; min-width: 180px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                    <div style="align-self: stretch; padding-bottom: 8px; border-bottom: 1px var(--Border-border-oncolor-transparent-30, rgba(255, 255, 255, 0.30)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                        <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ملخص</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">حول [اسم البوابة]</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">الخصوصية وشروط الاستخدام</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">كيفية استخدام [اسم البوابة]</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">الأخبار والأحداث</div>
                            </div>
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">إحصائيات اتفاقية مستوى الخدمة</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; padding-top: 16px; padding-bottom: 16px; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex">
                <div style="width: 228px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-logo-position="Side" data-rtl="True" data-size="Small" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 32px; height: 32px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                    <div data-logo-position="Side" data-rtl="True" data-size="Small" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 32px; height: 32px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                        <div data-icon="false" data-inline="True" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 20px; word-wrap: break-word">تطبيق الجوال</div>
                        </div>
                        <div data-icon="false" data-inline="True" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 20px; word-wrap: break-word">RSS</div>
                        </div>
                        <div data-icon="false" data-inline="True" data-rtl="True" data-size="Small" data-state="Default" data-style="On-color" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-oncolor, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 20px; word-wrap: break-word">خريطة الموقع</div>
                        </div>
                    </div>
                    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                        <div style="justify-content: flex-end; align-items: flex-start; display: inline-flex">
                            <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">جميع الحقوق محفوظة لهيئة الحكومة الرقمية © 2024</div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                            <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تم تطويره وصيانته بواسطة [أدخل اسم الجهة]</div>
                            <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>