@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; position: relative; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 1440px; height: 209px; left: 0px; top: 143px; position: absolute; background: var(--Background-background-primary-25, #F7FDF9)"></div>
    <partial name="components/_dgaStamp" />
    <partial name="components/SecHeaderAr" />
    <partial name="components/HeaderAr" />

    <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
        <div style="width: 416px; padding: 40px; background: var(--Background-background-white, white); border-radius: 16px; outline: 1px var(--Border-border-background-neutral, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">تواصل مع آمر</div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">رقم الجوال</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">9200343222</div>
                        </div>
                    </div>
                    <div style="padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">رسالة قصيرة</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">199099</div>
                        </div>
                    </div>
                    <div style="padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 21.49px; height: 20.50px; left: 1.25px; top: 1.75px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">البريد الالكتروني</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">help@company.sa</div>
                        </div>
                    </div>
                    <div style="padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 21.50px; height: 18.50px; left: 1.25px; top: 2.75px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">فاكس</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">00966-11-434-6654</div>
                        </div>
                    </div>
                    <div style="padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 21.50px; height: 18.50px; left: 1.25px; top: 2.75px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">الموقع</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 14.58px; height: 14.58px; left: 2.71px; top: 2.71px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">الرياض</div>
                        </div>
                    </div>
                    <div style="padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">تابعنا على</div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 16.25px; height: 16.25px; left: 1.88px; top: 1.88px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 17.08px; height: 17.08px; left: 1.46px; top: 1.46px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 0px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -0.50px"></div>
            <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">اتصالات الطوارئ</div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                        <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">988</div>
                    </div>
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">الدفاع المدني</div>
                </div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                        <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">999</div>
                    </div>
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">الشرطة</div>
                </div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                        <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">999</div>
                    </div>
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">الإسعاف</div>
                </div>
                <div data-icon="false" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عرض المزيد</div>
                </div>
            </div>
        </div>
        <div style="width: 832px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 32px; display: inline-flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
                <div data-levels="2" data-rtl="True" style="justify-content: flex-end; align-items: center; display: inline-flex">
                    <div data-rtl="True" data-type="Current" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Disabled" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Global-text-default-disabled, #9DA4AE); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                        </div>
                        <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                            <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                        </div>
                    </div>
                    <div data-rtl="True" data-type="Root" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">تواصل معنا</div>
                    <div style="width: 720px; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مثال على وصف الخدمة لشراء قطعة أرض لبناء منزلك، يتطلب ذلك توثيق عملية البيع والشراء في مكاتب التوثيق أو خدمات كاتب العدل لتسجيل العقار باسمك.</div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                    <div data-error="False" data-filled="False" data-icon="false" data-prefix="false" data-rtl="True" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="true" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">الاسم الاخير</div>
                                <div style="color: var(--Form-field-border-error, #B42318); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">*</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                    <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">ادخل الاسم الاخير </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-error="False" data-filled="False" data-icon="false" data-prefix="false" data-rtl="True" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="true" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">الاسم الاول</div>
                                <div style="color: var(--Form-field-border-error, #B42318); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">*</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                    <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">ادخل الاسم الاول</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                    <div data-error="False" data-filled="False" data-icon="false" data-prefix="true" data-rtl="True" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="true" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">رقم الجوال</div>
                                <div style="color: var(--Form-field-border-error, #B42318); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">*</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                    <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">00 000 0000</div>
                                </div>
                            </div>
                            <div data-icon="false" data-rtl="True" data-size="Large" data-state="Default" data-style="Solid" data-type="Dropdown" style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 2px; padding-bottom: 2px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                                </div>
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">+966</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-error="False" data-filled="False" data-icon="false" data-prefix="false" data-rtl="True" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="true" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">البريد الالكتروني</div>
                                <div style="color: var(--Form-field-border-error, #B42318); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">*</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                    <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">ادخل البريد الالكتروني</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                    <div data-clear="false" data-error="False" data-filled="False" data-icon="false" data-multi-section="false" data-rtl="True" data-scroll-bar="false" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-type-cursor="false" style="flex: 1 1 0; height: 68px; min-width: 200px; min-height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 10px; display: flex">
                            <div data-disabled="False" data-required="false" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">الفئة</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; min-width: 200px; overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: flex-start; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                        <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                    <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                        <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">اقتراحات</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-error="False" data-filled="False" data-icon="false" data-prefix="false" data-rtl="True" data-show-helper-text="false" data-show-label="true" data-size="Large" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="false" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">موضوع</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 40px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                                    <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">اكتب موضوعك</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                    <div data-rtl="True" data-show-helper-text="true" data-state="Default" style="flex: 1 1 0; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 16px; display: inline-flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                            <div data-disabled="False" data-required="false" data-rtl="True" data-size="Large" data-type="Semibold" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">رفع المرفقات</div>
                            </div>
                            <div style="align-self: stretch; text-align: right; color: var(--text-text-tertiary, #64748B); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; word-wrap: break-word">الحد الأقصى لحجم الملف المسموح به هو 2 ميجابايت، وصيغ الملفات المدعومة تشمل .jpg و .png و .pdf.</div>
                        </div>
                        <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                            <div style="justify-content: center; align-items: center; display: flex">
                                <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">تصفح الملفات</div>
                            </div>
                        </div>
                    </div>
                    <div data-error="False" data-filled="False" data-resize="true" data-rtl="True" data-scroll-bar="false" data-show-helper-text="false" data-show-label="true" data-state="Default" data-style="Filled darker" style="flex: 1 1 0; min-width: 200px; min-height: 96px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                            <div data-disabled="False" data-required="false" data-rtl="True" data-size="Medium" data-type="Semibold" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                                <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 20px; word-wrap: break-word">كيف يمكننا المساعدة؟</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 96px; position: relative; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-end; align-items: flex-start; gap: 4px; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: flex-start; display: flex">
                                    <div style="flex: 1 1 0; align-self: stretch; text-align: right; color: var(--Form-field-text-placeholder, #6C737F); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص تلميحي</div>
                                </div>
                            </div>
                            <div style="width: 12px; height: 12px; left: 14px; top: 94px; position: absolute; transform: rotate(180deg); transform-origin: top left; overflow: hidden">
                                <div style="width: 7px; height: 4px; left: 2.22px; top: 6.95px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                                <div style="width: 5px; height: 2px; left: 1.77px; top: 8.74px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">طلب تصريح</div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 16px; padding-bottom: 16px; background: white; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; text-align: right; color: black; font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 - 4:13 م بتوقيت السعودية</div>
        </div>
        <div data-show-feedback="true" data-show-rating="false" style="width: 1440px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div data-rtl="yes" data-section="Default" style="align-self: stretch; height: 88px; padding-left: 80px; padding-right: 80px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="flex: 1 1 0; max-width: 1280px; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                    <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                        <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
                    </div>
                    <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">لا</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">نعم</div>
                                </div>
                            </div>
                        </div>
                        <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="components/FooterAr" />
</div>