@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div style="width: 100%; height: 100%; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <partial name="components/_dgaStamp" />
        <partial name="components/SecHeaderAr" />
        <partial name="components/HeaderAr" />
        <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
                    <div data-levels="2" data-rtl="True" style="justify-content: flex-end; align-items: center; display: inline-flex">
                        <div data-rtl="True" data-type="Current" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Disabled" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: right; color: var(--Global-text-default-disabled, #9DA4AE); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                            </div>
                            <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                            </div>
                        </div>
                        <div data-rtl="True" data-type="Root" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                            </div>
                        </div>
                    </div>
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 48px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 60px; word-wrap: break-word">مثال لصفحة المحتوى القياسية</div>
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 28px; word-wrap: break-word">هنا يمكنك إضافة وصف مختصر لصفحة المحتوى. عادةً ما يتم استخدام بنية صفحة المحتوى هذه لصفحات المحتوى القياسية</div>
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">يتم استخدام العديد من المكونات في صفحات المحتوى القياسية، بما في ذلك: العنوان 3، والعنوان 4، والقوائم المرتبة وغير المرتبة، ومحتوى النص الأساسي، والارتباطات التشعبية، والوسائط المتعددة الغنية بما في ذلك الصور ومقاطع الفيديو.</div>
                </div>
                <div data-color="Neutral" data-line-type="Horizontal" style="align-self: stretch; height: 1px; position: relative">
                    <div style="width: 1280px; height: 1px; left: 0px; top: 0px; position: absolute; background: var(--Border-border-neutral-primary, #D2D6DB)"></div>
                </div>
                <div style="width: 1280px; height: 1968px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">قسم 1</div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.</div>
                            <div data-rtl="yes" data-style="Neutral" data-type="Ordered List" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة مرتبة</div>
                                    <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-1</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">أ-</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">أ-</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">أ-</div>
                                </div>
                            </div>
                            <div data-rtl="yes" data-style="Neutral" data-type="Unordered" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة الغير مرتبة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">•</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">•</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">•</div>
                                </div>
                            </div>
                            <div data-rtl="yes" data-style="Neutral" data-type="With Icon" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مع أيقونة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">قسم 2</div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.</div>
                            <div data-rtl="yes" data-style="Neutral" data-type="Ordered List" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة مرتبة</div>
                                    <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-1</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">أ-</div>
                                </div>
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة مرتبة</div>
                                    <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-2</div>
                                </div>
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة مرتبة</div>
                                    <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-3</div>
                                </div>
                            </div>
                            <div data-rtl="yes" data-style="Neutral" data-type="Unordered" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة الغير مرتبة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-</div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">•</div>
                                </div>
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة الغير مرتبة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-</div>
                                </div>
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Unordered" style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر القائمة الغير مرتبة</div>
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-</div>
                                </div>
                            </div>
                            <div data-rtl="yes" data-style="Neutral" data-type="With Icon" style="flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مع أيقونة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مع أيقونة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                                <div data-level="Two" data-rtl="yes" data-style="Neutral" data-type="With Icon" style="padding-right: 24px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عنصر قائمة</div>
                                    <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                        <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">قسم 3 </div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 24px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 32px; word-wrap: break-word">القسم الفرعي 1</div>
                            <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                                <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.</div>
                                <div style="align-self: stretch; height: 379px; background: var(--Global-background-inverse-disabled, #F3F4F6)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 24px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 32px; word-wrap: break-word">القسم الفرعي 2</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي. وهذا مثال على نمط الفقرة الذي يتبعه نظام التصميم. نفس النمط متسق عبر جميع أقسام النص الأساسي.</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">قسم 4</div>
                        <div style="align-self: stretch; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">يتم استخدام الروابط عندما تكون هناك حاجة لاستخدام آلية ربط لتوجيه المستخدم إلى صفحة أخرى داخل البوابة أو إلى بوابة خارجية. هناك نوعان من الروابط التي يمكن استخدامها                            .        تمامًا كما هو الحال في هذا المثال، حيث تم وضع خط تحتها بلون أخضر غامق والروابط المستقلة التي يمكن استخدامها بشكل منفصل. يتم وضع خط تحت الروابط المستقلة وتحتوي على رمز:</div>
                            <div data-icon="false" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="left: 112px; top: 0.50px; position: absolute; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">روابط داخل هيئة نصية</div>
                            </div>
                            <div data-icon="true" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                    <div style="width: 14.58px; height: 14.58px; left: 2.71px; top: 2.71px; position: absolute; background: var(--Link-link-icon-primary-focused, #1B8354)"></div>
                                </div>
                                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">مثال رابط</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 16px; padding-bottom: 16px; background: var(--Background-background-white, white); overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; max-width: 1280px; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 - 4:13 م بتوقيت السعودية</div>
            </div>
            <div data-show-feedback="true" data-show-rating="false" style="width: 1440px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div data-rtl="yes" data-section="Default" style="align-self: stretch; height: 88px; padding-left: 80px; padding-right: 80px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                    <div style="flex: 1 1 0; max-width: 1280px; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                            <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
                            <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                    <div style="justify-content: center; align-items: center; display: flex">
                                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">لا</div>
                                    </div>
                                </div>
                                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                    <div style="justify-content: center; align-items: center; display: flex">
                                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">نعم</div>
                                    </div>
                                </div>
                            </div>
                            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <partial name="components/FooterAr" />
    </div>
}
