@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <partial name="components/_dgaStamp" />
    <partial name="components/SecHeaderAr" />
    <partial name="components/HeaderAr" />
    <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-primary-50, #F3FCF6); overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 32px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                <div data-levels="3" data-rtl="True" style="justify-content: flex-end; align-items: center; display: inline-flex">
                    <div data-rtl="True" data-type="Current" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Disabled" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Global-text-default-disabled, #9DA4AE); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">المشاركة الإلكترونية</div>
                        </div>
                        <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                            <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                        </div>
                    </div>
                    <div data-rtl="True" data-type="Middle" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">عن الجهة</div>
                        </div>
                        <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                            <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                        </div>
                    </div>
                    <div data-rtl="True" data-type="Root" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                        <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">الرئيسية</div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">المشاركة الإلكترونية</div>
            </div>
            <div style="width: 1280px; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هذا مثال على وصف الصفحة لنظام التصميم الموحد، حيث يتم الحفاظ على نفس النمط المتسق عبر جميع الصفحات الأخرى. هذا مثال على وصف الصفحة لنظام التصميم الموحد، حيث يتم الحفاظ على نفس النمط المتسق عبر جميع الصفحات الأخرى. هذا مثال على وصف الصفحة لنظام التصميم الموحد، حيث يتم الحفاظ على نفس النمط المتسق عبر جميع الصفحات الأخرى.</div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">مواضيع المشاركة</div>
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هذا مثال على وصف القسم في نظام التصميم، حيث يتم الحفاظ على نفس النمط المتسق عبر جميع الأقسام الأخرى. هذا مثال على وصف القسم في نظام التصميم، حيث يتم الحفاظ على نفس النمط المتسق عبر جميع الأقسام الأخرى.</div>
        </div>
        <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
            <div style="align-self: stretch; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">البيانات المفتوحة</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">التطوير المشترك والافكار</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">الإستشارات الإلكترونية</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">سياسة المشاركة الإلكترونية</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">وسائل التواصل الاجتماعي</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">إحصائيات الموقع والخدمات</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">تقارير صوت المستفيد</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-custom-component="false" data-effect="With Sahdow" data-featured-icon="false" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="false" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">الشكاوى والمقترحات</div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="True" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                                <div style="width: 17.50px; height: 11.50px; left: 20.75px; top: 17.75px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 80px; padding-right: 80px; padding-top: 16px; padding-bottom: 16px; background: var(--Background-background-white, white); overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="flex: 1 1 0; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 - 4:13 م بتوقيت السعودية</div>
        </div>
        <div data-show-feedback="true" data-show-rating="false" style="width: 1440px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div data-rtl="yes" data-section="Default" style="align-self: stretch; height: 88px; padding-left: 80px; padding-right: 80px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="flex: 1 1 0; max-width: 1280px; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                    <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                        <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
                    </div>
                    <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">لا</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">نعم</div>
                                </div>
                            </div>
                        </div>
                        <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="components/FooterAr" />
</div>