@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div data-device="Mobile" data-opened="no" data-rtl="Yes" style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: var(--Background-background-neutral-100, #F3F4F6); overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">موقع حكومي مسجل لدى هيئة الحكومة الرقمية</div>
                <div data-flags="Saudi Arabia" data-shape="Square" data-size="Medium" style="width: 20px; height: 14px; position: relative; background: white; overflow: hidden">
                    <div style="width: 20px; height: 14px; left: 0px; top: 0px; position: absolute; background: #006923"></div>
                    <div style="left: 3px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 1.30px; display: inline-flex">
                        <div style="width: 14px; height: 5.06px; background: white"></div>
                        <div style="width: 12.15px; height: 2.03px; background: white"></div>
                    </div>
                </div>
            </div>
            <div data-icon="true" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                    <div style="width: 5px; height: 9px; left: 3.50px; top: 10.50px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Link-link-icon-primary-focused, #1B8354)"></div>
                </div>
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">كيف تتحقق؟</div>
            </div>
        </div>
    </div>
    <div data-actions="true" data-breakpoint="<600" data-full-width="False" data-menu-items="true" data-rtl="False" style="width: 100%; max-width: 600px; padding-left: 16px; padding-right: 16px; background: var(--Background-background-menu, white); flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; max-width: 144px; justify-content: flex-start; align-items: center; display: flex"></div>
            <div style="flex: 1 1 0; justify-content: center; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; justify-content: center; align-items: center; gap: 16px; display: flex">
                    <div data-logo-position="Side" data-rtl="True" data-size="Medium" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 48px; height: 48px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; max-width: 144px; justify-content: flex-end; align-items: center; display: flex">
                <div style="height: 72px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                    <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 40px; height: 40px; max-width: 40px; min-width: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 17.50px; height: 15.50px; left: 3.25px; top: 4.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
        <div style="align-self: stretch; height: 508px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: flex">
            <div style="width: 332px; height: 239px; position: relative">
                <div style="left: 53px; top: 74px; position: absolute; color: var(--Text-text-primary-paragraph, #384250); font-size: 128px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 90px; word-wrap: break-word">404</div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 314.11px; top: 21.38px; position: absolute">
                    <div style="width: 10.57px; height: 10.07px; left: 0.61px; top: 0.86px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 227.13px; top: 195.34px; position: absolute">
                    <div style="width: 10.57px; height: 10.07px; left: 0.61px; top: 0.86px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 53.91px; top: 204.92px; position: absolute">
                    <div style="width: 11.43px; height: 11.43px; left: 3.13px; top: 3.13px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 5.99px; top: 96.56px; position: absolute">
                    <div style="width: 7.62px; height: 7.62px; left: 2.09px; top: 2.09px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 145.31px; top: 21.38px; position: absolute">
                    <div style="width: 15.85px; height: 15.85px; left: 0.92px; top: 0.92px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 101.08px; top: 227.03px; position: absolute">
                    <div style="width: 10.57px; height: 10.57px; left: 0.61px; top: 0.61px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 314.11px; top: 86.24px; position: absolute">
                    <div style="width: 15.11px; height: 15.11px; left: 1.29px; top: 1.29px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 284.99px; top: 198.29px; position: absolute">
                    <div style="width: 15.11px; height: 15.11px; left: 1.29px; top: 1.29px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 201.33px; top: 0px; position: absolute">
                    <div style="width: 8.60px; height: 8.60px; left: 1.60px; top: 1.59px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 36.22px; top: 49.39px; position: absolute">
                    <div style="width: 12.89px; height: 12.91px; left: 2.39px; top: 2.39px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 183.64px; top: 218.92px; position: absolute">
                    <div style="width: 15.85px; height: 15.85px; left: 0.92px; top: 0.92px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 252.93px; top: 18.43px; position: absolute">
                    <div style="width: 15.85px; height: 15.85px; left: 0.92px; top: 0.92px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 320.01px; top: 145.95px; position: absolute">
                    <div style="width: 10.57px; height: 10.57px; left: 0.61px; top: 0.61px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 17.69px; height: 17.69px; left: 0px; top: 158px; position: absolute">
                    <div style="width: 15.85px; height: 15.85px; left: 0.92px; top: 0.92px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 11.79px; height: 11.79px; left: 71.60px; top: 15.48px; position: absolute">
                    <div style="width: 10.57px; height: 10.57px; left: 0.61px; top: 0.61px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 32px; display: flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 24px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 32px; word-wrap: break-word">حدث خطأ</div>
                    <div style="color: var(--Text-text-default, #161616); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 28px; word-wrap: break-word">عذراً، لم نستطع إيجاد الصفحة التي تبحث عنها</div>
                </div>
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">الرجوع للرئيسية</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="components/FooterAr" />
</div>