@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    

}


<div style="width: 100%; height: 100%; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <partial name="components/_dgaStamp" />
    <div data-rtl="Yes" data-show-action-2="true" data-show-action-3="true" data-show-action-4="true" data-show-actions="true" data-show-content="true" data-show-divider="true" data-show-item-2="true" data-show-item-3="true" data-show-item-4="true" data-style="Gray" style="width: 1440px; height: 40px; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-neutral-100, #F3F4F6); border-top: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; flex-direction: column; justify-content: center; align-items: flex-end; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
            <div style="justify-content: flex-end; align-items: center; gap: 6px; display: flex">
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 14.58px; height: 17.92px; left: 2.71px; top: 1.04px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 17.92px; height: 12.92px; left: 1.04px; top: 3.54px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">الرياض</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">2:30 مساءً</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">3-سبتمبر-2024</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.50px; height: 21.50px; left: 1.75px; top: 1.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
                <div data-rtl="Yes" data-style="Default" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">غائم</div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 16.50px; left: 1.25px; top: 3.25px; position: absolute; background: var(--Icon-icon-neutral, #384250)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-color="Neutral" data-line-type="Horizontal" style="width: 1440px; height: 1px; left: 0px; top: 39px; position: absolute">
            <div style="width: 1440px; height: 1px; left: 0px; top: 0px; position: absolute; background: var(--Border-border-neutral-primary, #D2D6DB)"></div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 32px; padding-right: 32px; position: relative; background: var(--Background-background-menu, white); flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="justify-content: flex-end; align-items: center; display: flex">
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تسجيل الدخول</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">English</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div data-icon-only="False" data-icon-position="Inline" data-icon="true" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; min-width: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">البحث</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; transform: rotate(360deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 16px; display: flex">
                <div style="justify-content: flex-start; align-items: center; display: flex">
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 7</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 6</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 5</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 4</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.38px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 3</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.37px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 2</div>
                        </div>
                    </div>
                    <div data-icon="false" data-rtl="True" data-selected="False" data-state="Default" data-sub-menu="true" style="height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                            <div style="width: 6.25px; height: 11.25px; left: 4.37px; top: 13.12px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تبويب 1</div>
                        </div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-logo-position="Side" data-rtl="True" data-size="Medium" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 48px; height: 48px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 1440px; height: 1px; left: 0px; top: 71px; position: absolute; background: var(--Colors-Neutral-300, #D2D6DB)"></div>
    </div>
    <div style="align-self: stretch; padding: 80px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: inline-flex">
            <div style="width: 458px; height: 324px; position: relative">
                <div style="left: 53px; top: 16px; position: absolute; color: var(--Text-text-primary-paragraph, #384250); font-size: 200px; font-family: IBM Plex Sans Arabic; font-weight: 700; word-wrap: break-word">404</div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 434px; top: 29px; position: absolute">
                    <div style="width: 14.33px; height: 13.67px; left: 0.83px; top: 1.17px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 316px; top: 265px; position: absolute">
                    <div style="width: 14.33px; height: 13.67px; left: 0.83px; top: 1.17px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 81px; top: 278px; position: absolute">
                    <div style="width: 15.50px; height: 15.50px; left: 4.25px; top: 4.25px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 16px; top: 131px; position: absolute">
                    <div style="width: 10.33px; height: 10.33px; left: 2.83px; top: 2.83px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 205px; top: 29px; position: absolute">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 145px; top: 308px; position: absolute">
                    <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 434px; top: 117px; position: absolute">
                    <div style="width: 20.50px; height: 20.50px; left: 1.75px; top: 1.75px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 394.50px; top: 269px; position: absolute">
                    <div style="width: 20.50px; height: 20.50px; left: 1.75px; top: 1.75px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 281px; top: 0px; position: absolute">
                    <div style="width: 11.66px; height: 11.67px; left: 2.16px; top: 2.16px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 57px; top: 67px; position: absolute">
                    <div style="width: 17.49px; height: 17.51px; left: 3.25px; top: 3.24px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 257px; top: 297px; position: absolute">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 351px; top: 25px; position: absolute">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 442px; top: 198px; position: absolute">
                    <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 0.50px; top: 214px; position: absolute">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; left: 105px; top: 21px; position: absolute">
                    <div style="width: 14.33px; height: 14.33px; left: 0.83px; top: 0.83px; position: absolute; background: var(--Background-background-neutral-300, #D2D6DB)"></div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 32px; display: flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 24px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 32px; word-wrap: break-word">حدث خطأ</div>
                    <div style="color: var(--Text-text-default, #161616); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 28px; word-wrap: break-word">عذراً، لم نستطع إيجاد الصفحة التي تبحث عنها</div>
                </div>
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">الرجوع للرئيسية</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="components/FooterAr" />
</div>