@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; position: relative; background: var(--Background-background-white, white); overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div data-device="Mobile" data-opened="no" data-rtl="Yes" style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: var(--Background-background-neutral-100, #F3F4F6); overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">موقع حكومي مسجل لدى هيئة الحكومة الرقمية</div>
                <div data-flags="Saudi Arabia" data-shape="Square" data-size="Medium" style="width: 20px; height: 14px; position: relative; background: white; overflow: hidden">
                    <div style="width: 20px; height: 14px; left: 0px; top: 0px; position: absolute; background: #006923"></div>
                    <div style="left: 3px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 1.30px; display: inline-flex">
                        <div style="width: 14px; height: 5.06px; background: white"></div>
                        <div style="width: 12.15px; height: 2.03px; background: white"></div>
                    </div>
                </div>
            </div>
            <div data-icon="true" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                    <div style="width: 5px; height: 9px; left: 3.50px; top: 10.50px; position: absolute; transform: rotate(-90deg); transform-origin: top left; background: var(--Link-link-icon-primary-focused, #1B8354)"></div>
                </div>
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">كيف تتحقق؟</div>
            </div>
        </div>
    </div>
    <div style="width: 430px; height: 298px; left: 0px; top: 72px; position: absolute; background: var(--Background-background-primary-25, #F7FDF9)"></div>
    <div data-actions="true" data-breakpoint="<600" data-full-width="False" data-menu-items="true" data-rtl="False" style="width: 100%; max-width: 600px; padding-left: 16px; padding-right: 16px; background: var(--Background-background-menu, white); flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; max-width: 144px; justify-content: flex-start; align-items: center; display: flex"></div>
            <div style="flex: 1 1 0; justify-content: center; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; justify-content: center; align-items: center; gap: 16px; display: flex">
                    <div data-logo-position="Side" data-rtl="True" data-size="Medium" style="padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: var(--Background-background-white, white); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شعار المنصة</div>
                        <div style="width: 48px; height: 48px; background: var(--Background-background-neutral-400, #9DA4AE)"></div>
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 0; max-width: 144px; justify-content: flex-end; align-items: center; display: flex">
                <div style="height: 72px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                    <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="false" style="width: 40px; height: 40px; max-width: 40px; min-width: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                            <div style="width: 17.50px; height: 15.50px; left: 3.25px; top: 4.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 64px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-end; gap: 32px; display: inline-flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">بدء الخدمة</div>
                        </div>
                    </div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div data-levels="2" data-rtl="True" style="justify-content: flex-end; align-items: center; display: inline-flex">
                            <div data-rtl="True" data-type="Current" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Disabled" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                    <div style="text-align: right; color: var(--Global-text-default-disabled, #9DA4AE); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                                </div>
                                <div data-style="Stroke" data-type="Rounded" style="width: 16px; height: 16px; position: relative">
                                    <div style="width: 5px; height: 9px; left: 5.50px; top: 3.50px; position: absolute; background: var(--Icon-icon-default-400, #9DA4AE)"></div>
                                </div>
                            </div>
                            <div data-rtl="True" data-type="Root" style="padding-left: 4px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                <div data-icon="false" data-inline="False" data-rtl="True" data-size="Small" data-state="Default" data-style="Neutral" style="justify-content: flex-end; align-items: center; gap: 4px; display: flex">
                                    <div style="text-align: right; color: var(--Link-link-neutral, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رابط</div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">رخصة بناء</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">المنصة</div>
                    </div>
                    <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">رحلة الحياة</div>
                    </div>
                    <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">الوزارة</div>
                    </div>
                </div>
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مثال على وصف الخدمة لشراء قطعة أرض لبناء منزلك، يتطلب ذلك توثيق عملية البيع والشراء في مكاتب التوثيق أو خدمات كاتب العدل لتسجيل العقار باسمك.</div>
                <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 14.58px; height: 14.58px; left: 2.71px; top: 2.71px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                    <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">اتفاقية مستوى الخدمة</div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div data-divider="false" data-flush="True" data-rtl="True" data-size="Medium" data-tab-icons="True" style="align-self: stretch; position: relative; justify-content: flex-end; align-items: center; display: inline-flex">
                    <div style="left: 70px; top: 0px; position: absolute; justify-content: flex-end; align-items: center; display: flex">
                        <div data-icon="false" data-more-tab="No" data-rtl="True" data-selected="False" data-size="Medium" data-state="Default" style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">المستندات المطلوبة</div>
                            </div>
                        </div>
                        <div data-icon="false" data-more-tab="No" data-rtl="True" data-selected="False" data-size="Medium" data-state="Default" style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-primary-paragraph, #384250); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">شروط الاستخدام</div>
                            </div>
                        </div>
                        <div data-icon="false" data-more-tab="No" data-rtl="True" data-selected="True" data-size="Medium" data-state="Default" style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; position: relative; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="text-align: right; justify-content: flex-end; display: flex; flex-direction: column; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 20px; word-wrap: break-word">الخطوات</div>
                            </div>
                            <div style="width: 82px; padding-left: 16px; padding-right: 16px; left: 0px; top: 41px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                <div style="align-self: stretch; height: 3px; background: var(--Border-border-primary, #1B8354); border-radius: 9999px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; height: 344px; position: relative; background: var(--Background-background-neutral-50, #F9FAFB); overflow: hidden; border-radius: 16px">
                    <div data-circle="True" data-color="Brand" data-size="Large" data-style="Dark" style="width: 47px; height: 48px; left: 176px; top: 148px; position: absolute; background: var(--Background-background-success, #079455); border-radius: 9999px">
                        <div data-style="Solid" data-type="Sharp" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                            <div style="width: 15.50px; height: 17.50px; left: 4.25px; top: 3.25px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">قم بالدخول إلى البوابة الوطنية للتسجيل الموحد عبر منصة بلدي.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-1</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">اختيار خدمات تراخيص البناء، ثم إصدار البناء.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-2</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">خدمات الترخيص ثم البلدية المطلوبة.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-3</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">اختيار المكتب الهندسي، ثم إدخال رقم وسنة إصدار مسح البناء، وإرفاق نسخة من السند.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-4</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">تقديم الطلب إلى المكتب الهندسي المحدد، ثم استكمال المعلومات والمرفقات في المكتب الهندسي وإرسالها إلى البلدية.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-5</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">التأكد من بيانات الطلب والمرفقات والموافقات من قبل البلدية.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-6</div>
                    </div>
                    <div data-level="One" data-rtl="yes" data-style="Neutral" data-type="Ordered" style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">الموافقة على الطلب وإصدار دفعة سداد. دفع الرسوم وطباعة الرخصة.</div>
                        <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">-7</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-white, white); border-radius: 16px; outline: 1px var(--Border-border-background-neutral, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">الفئة المستهدفة</div>
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">المواطنين وجنسيات دول مجلس التعاون الخليجي والمستثمرين والأجانب</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 19.50px; height: 21.50px; left: 2.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">مدة الخدمة</div>
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">5.0 ايام</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">قنوات الخدمة</div>
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">تطبيق الويب والجوال</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">تكلفة الخدمة</div>
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مجانًا</div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative; overflow: hidden"></div>
                </div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">قنوات الدفع</div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-payment-method="STCpay" data-size="lg" style="width: 62.94px; height: 43.40px; position: relative; background: var(--Background-background-white, white); border-radius: 6.51px; outline: 1.09px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1.09px">
                                <div style="width: 5.38px; height: 7.54px; left: 38.62px; top: 17.80px; position: absolute; background: #02AA7C"></div>
                                <div style="width: 4.88px; height: 5.49px; left: 44.82px; top: 17.94px; position: absolute; background: #02AA7C"></div>
                                <div style="width: 4.98px; height: 7.40px; left: 50.37px; top: 17.94px; position: absolute; background: #02AA7C"></div>
                                <div style="width: 28.03px; height: 14px; left: 7.74px; top: 15px; position: absolute; background: #502C84"></div>
                            </div>
                            <div data-payment-method="Mada" data-size="lg" style="width: 62.94px; height: 43.40px; position: relative; background: var(--Background-background-white, white); border-radius: 6.51px; outline: 1.09px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1.09px">
                                <div style="width: 21.37px; height: 7.12px; left: 6.51px; top: 23.26px; position: absolute; background: #84B740"></div>
                                <div style="width: 21.37px; height: 7.12px; left: 6.51px; top: 13.55px; position: absolute; background: #259BD6"></div>
                                <div style="width: 5.34px; height: 8.30px; left: 45.58px; top: 21.97px; position: absolute; background: #27292D"></div>
                                <div style="width: 5.15px; height: 5.89px; left: 51.84px; top: 24.49px; position: absolute; background: #27292D"></div>
                                <div style="width: 5.15px; height: 5.90px; left: 39.52px; top: 24.49px; position: absolute; background: #27292D"></div>
                                <div style="width: 8.13px; height: 5.72px; left: 30.47px; top: 24.50px; position: absolute; background: #27292D"></div>
                                <div style="width: 13.66px; height: 6.05px; left: 43.36px; top: 13.55px; position: absolute; background: #27292D"></div>
                                <div style="width: 12.32px; height: 6.56px; left: 30.47px; top: 13.62px; position: absolute; background: #27292D"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 0px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -0.50px"></div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">الاسئلة الشائعة</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 16.25px; height: 16.25px; left: 1.88px; top: 1.87px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Ministry-FAQ's-page</div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">الهاتف</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 16.25px; height: 16.25px; left: 1.88px; top: 1.87px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">9200343222</div>
                        </div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">البريد الالكتروني</div>
                        <div data-icon="true" data-inline="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                            <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                                <div style="width: 16.25px; height: 16.25px; left: 1.88px; top: 1.87px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                            </div>
                            <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">help@company.sa</div>
                        </div>
                    </div>
                    <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                        <div style="width: 21.50px; height: 18.50px; left: 1.25px; top: 2.75px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Secondary-Solid" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-neutral-default, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تحميل دليل المستخدم</div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 0px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -0.50px"></div>
            <div style="width: 336px; height: 128px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">تطبيقات الجوال</div>
                <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 12px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
                    <div data-store="App Store" data-type="Dark" style="width: 120px; height: 40px; position: relative; background: black; overflow: hidden; border-radius: 6px; outline: 1px #A6A6A6 solid; outline-offset: -1px">
                        <div style="width: 20px; height: 24px; left: 8px; top: 8px; position: absolute">
                            <div style="width: 20px; height: 18.21px; left: 0px; top: 5.79px; position: absolute; background: white"></div>
                            <div style="width: 4.94px; height: 5.53px; left: 9.96px; top: 0px; position: absolute; background: white"></div>
                        </div>
                        <div style="width: 78px; left: 36px; top: 6.50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                            <div style="align-self: stretch; color: white; font-size: 9px; font-family: SF Compact Text; font-weight: 500; line-height: 9px; word-wrap: break-word">Download on the</div>
                            <div style="align-self: stretch; color: white; font-size: 18px; font-family: SF Compact Display; font-weight: 500; line-height: 18px; word-wrap: break-word">App Store</div>
                        </div>
                    </div>
                    <div data-store="Google Play" data-type="Dark" style="width: 120px; height: 40px; position: relative; background: black; overflow: hidden; border-radius: 6px; outline: 1px #A6A6A6 solid; outline-offset: -1px">
                        <div style="width: 21px; height: 24px; left: 8px; top: 8px; position: absolute">
                            <div style="width: 14.83px; height: 12.54px; left: 0.09px; top: 11.46px; position: absolute; background: #EA4335"></div>
                            <div style="width: 11.42px; height: 10.30px; left: 9.58px; top: 6.86px; position: absolute; background: #FBBC04"></div>
                            <div style="width: 10.14px; height: 20.01px; left: 0px; top: 1.99px; position: absolute; background: #4285F4"></div>
                            <div style="width: 14.82px; height: 12px; left: 0.09px; top: 0px; position: absolute; background: #34A853"></div>
                        </div>
                        <div style="left: 36px; top: 5px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
                            <div style="align-self: stretch; color: white; font-size: 10px; font-family: Product Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">GET IT ON</div>
                            <div style="width: 74px; height: 15px; background: white"></div>
                        </div>
                    </div>
                    <div style="width: 120px; height: 40px; position: relative; overflow: hidden">
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.42px; top: 0px; position: absolute; background: #B6B6B6"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 117.61px; height: 38.26px; left: 1.20px; top: 0.88px; position: absolute; background: black"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 10.03px; height: 11.70px; left: 37.60px; top: 18.44px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 7.10px; height: 12.51px; left: 48.32px; top: 21.26px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 7.11px; height: 12.51px; left: 56.45px; top: 21.26px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 8.96px; height: 12.02px; left: 64.43px; top: 18.28px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 6.77px; height: 9.04px; left: 74.62px; top: 21.26px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.17px; height: 12.72px; left: 82.71px; top: 17.59px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.17px; height: 12.72px; left: 87.15px; top: 17.59px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 6.89px; height: 9.06px; left: 90.71px; top: 21.24px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 4.74px; height: 8.87px; left: 98.89px; top: 21.26px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 7.86px; height: 12.35px; left: 103.99px; top: 21.43px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.20px; height: 6.03px; left: 37.60px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 4.69px; height: 6.03px; left: 41.15px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.57px; height: 6.03px; left: 46.53px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.16px; height: 6.03px; left: 51.01px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 5.39px; height: 6.21px; left: 54.37px; top: 7.22px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 4.11px; height: 6.04px; left: 60.79px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 3.19px; height: 6.03px; left: 65.63px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 0.93px; height: 6.03px; left: 72.26px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 4.28px; height: 6.03px; left: 73.99px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 5.39px; height: 6.22px; left: 81.08px; top: 7.21px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 4.56px; height: 6.03px; left: 87.51px; top: 7.30px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 22.63px; height: 25.33px; left: 8.24px; top: 7.33px; position: absolute; background: #C8102E"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 17.59px; height: 3.36px; left: 10.76px; top: 20px; position: absolute; background: white"></div>
                        <div style="width: 119.15px; height: 40px; left: 0.43px; top: 0px; position: absolute; background: black"></div>
                        <div style="width: 7.54px; height: 4.22px; left: 15.79px; top: 11.57px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 40px; padding-bottom: 40px; background: var(--Background-background-primary-25, #F7FDF9); overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">عرض الكل</div>
                        </div>
                    </div>
                    <div style="flex: 1 1 0; align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 30px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 38px; word-wrap: break-word">خدمات ذات صلة</div>
                </div>
                <div style="width: 720px; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">مثال على وصف الخدمة لشراء قطعة أرض لبناء منزلك، يتطلب ذلك توثيق عملية البيع والشراء في مكاتب التوثيق أو خدمات كاتب العدل لتسجيل العقار باسمك.</div>
            </div>
            <div data-style="Dots" style="align-self: stretch; padding-left: 24px; padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                <div data-rtl="Yes" style="align-self: stretch; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                    <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="true" data-show-description-="true" data-show-rating="false" data-show-tags="true" data-show-title="true" data-state="Default" data-type="Default" style="width: 320px; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                        <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">عنوان البطاقة</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص إضافي لمحتوى البطاقة</div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء ثانوي</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="true" data-show-description-="true" data-show-rating="false" data-show-tags="true" data-show-title="true" data-state="Default" data-type="Default" style="width: 320px; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                        <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">عنوان البطاقة</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص إضافي لمحتوى البطاقة</div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء ثانوي</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="true" data-show-description-="true" data-show-rating="false" data-show-tags="true" data-show-title="true" data-state="Default" data-type="Default" style="width: 320px; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                        <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">عنوان البطاقة</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص إضافي لمحتوى البطاقة</div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء ثانوي</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="true" data-show-description-="true" data-show-rating="false" data-show-tags="true" data-show-title="true" data-state="Default" data-type="Default" style="width: 320px; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                        <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">عنوان البطاقة</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص إضافي لمحتوى البطاقة</div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء ثانوي</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="true" data-show-description-="true" data-show-rating="false" data-show-tags="true" data-show-title="true" data-state="Default" data-type="Default" style="width: 320px; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
                        <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">عنوان البطاقة</div>
                            <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">نص إضافي لمحتوى البطاقة</div>
                        </div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Success" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 4px; outline: 1px var(--Tag-tag-border-success-light, #ABEFC6) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-success, #085D3A); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Info" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-info-light, #EFF8FF); border-radius: 4px; outline: 1px var(--Tag-tag-border-info-light, #B2DDFF) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-info, #1849A9); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                            <div data-icon-only="False" data-lead-icon="false" data-outline="False" data-rounded="False" data-rtl="True" data-size="Small" data-style="Neutral" data-trail-icon="false" style="height: 24px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-neutral-light, #F9FAFB); border-radius: 4px; outline: 1px var(--Border-border-neutral-secondary, #E5E7EB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="text-align: center; color: var(--Tag-tag-text-neutral, #1F2A37); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 18px; word-wrap: break-word">وسم</div>
                            </div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء</div>
                                </div>
                            </div>
                            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: flex">
                                <div style="justify-content: center; align-items: center; display: flex">
                                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">اجراء ثانوي</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="padding: 12px; border-radius: 9999px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div data-selected="True" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 12px; height: 12px; background: var(--Stepper-stepper-button-completed, #1B8354); border-radius: 9999px"></div>
                        </div>
                        <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                        </div>
                        <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                        </div>
                        <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div data-custom-component="false" data-effect="Stroke" data-featured-icon="true" data-image="false" data-primary-action="true" data-rtl="yes" data-secondary-action="false" data-show-description-="true" data-show-rating="false" data-show-tags="false" data-show-title="true" data-state="Default" data-type="Default" style="flex: 1 1 0; padding: 16px; background: var(--Background-background-card, white); border-radius: 16px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
            <div data-circle="True" data-color="Brand" data-size="Large" data-style="Light" style="width: 48px; height: 48px; position: relative; background: var(--Icon-Bg-icon-brand-light, #F3FCF6); border-radius: 9999px">
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; left: 12px; top: 12px; position: absolute">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 28px; word-wrap: break-word">التعليقات والاقتراحات</div>
                <div style="align-self: stretch; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">لأي استفسار أو ملاحظات حول الخدمات الحكومية، يرجى ملء المعلومات المطلوبة.</div>
            </div>
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">تواصل معنا</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 16px; background: var(--Background-background-white, white); overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="flex: 1 1 0; max-width: 1280px; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تاريخ آخر تعديل: 04/12/2020 - 4:13 م بتوقيت السعودية</div>
        </div>
        <div data-show-feedback="true" data-show-rating="true" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div data-rtl="True" data-state="Default" style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
                        <div style="text-align: right"><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">تم تقييم هذه الخدمة بمتوسط </span><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 24px; word-wrap: break-word">3.9</span></div>
                        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                            <div style="color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">1544 تقييم</div>
                            <div data-brand="yes" data-size="Meduim" style="justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                                <div data-size="Medium" data-state="Selected" data-style="Brand" style="width: 32px; height: 32px; position: relative"></div>
                                <div data-size="Medium" data-state="Selected" data-style="Brand" style="width: 32px; height: 32px; position: relative"></div>
                                <div data-size="Medium" data-state="Selected" data-style="Brand" style="width: 32px; height: 32px; position: relative"></div>
                                <div data-size="Medium" data-state="Half" data-style="Brand" style="width: 32px; height: 32px; position: relative">
                                    <div style="width: 15.33px; height: 30px; left: 0.67px; top: 0px; position: absolute; background: var(--Background-background-primary, #1B8354); border-radius: 1px"></div>
                                    <div style="width: 17.33px; height: 30px; left: 33.33px; top: 30px; position: absolute; transform: rotate(180deg); transform-origin: top left; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 1px"></div>
                                </div>
                                <div data-size="Medium" data-state="Normal" data-style="Brand" style="width: 32px; height: 32px; position: relative"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: center; align-items: center; display: flex">
                                <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">قيم هذه الخدمة</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-rtl="Yes" data-section="Default" style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
                    <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                        <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: center; align-items: center; display: flex">
                                <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">لا</div>
                            </div>
                        </div>
                        <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                            <div style="justify-content: center; align-items: center; display: flex">
                                <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">نعم</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="components/FooterAr" />
</div>