@{
    var isHomePage = ViewBag.isHomePage ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dga_unified_code</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/dga_unified_code.styles.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="./styles.css" /> *@
    @* <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" /> *@

    @* <script type="module" src="[https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.esm.js](https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.esm.js)"></script> *@
    @* <script nomodule src="[https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.js](https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.js)"></script> *@
    @* <link rel="stylesheet" href="[https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.css](https://cdn.jsdelivr.net/npm/@platformscode/core/dist/platformscode/platformscode.css)" /> *@

    @{
        // var cdnPath = "https:cdn.jsdelivr.net/npm/@platformscode/core";
        // var esmPath = $"{cdnPath}@0.0.32";
    }
    @* <script type="module" src="@cdnPath/dist/platformscode/platformscode.esm.js"></script> *@
    @* <script nomodule src="@cdnPath/dist/platformscode/platformscode.js"></script> *@
    @* <link rel="stylesheet" href="@cdnPath/dist/platformscode/platformscode.css" /> *@

    @* <script type="module"> import platformscodecore from @esmPath/+esm </script> *@

</head>

<body>

    <header>
        <div>
            <a href="/">Home</a>
        </div>
    @if(!isHomePage)
    {
    
        <div>
                <h2>Pages</h2>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                
            <div class="container-fluid">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND">SND</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND2">SND2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundDesktopEn">NotFoundDesktopEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundDesktopAr">NotFoundDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundEn">NotFoundEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="NotFoundAr">NotFoundAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationEn">EParticipationEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ConsultationsEn">ConsultationsEn</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND2">SND2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="CoCreationIdeasEn">CoCreationIdeasEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="OpenDataEn">OpenDataEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationPolicyEn">EParticipationPolicyEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SocialMediaEn">SocialMediaEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ComplaintsSuggestionsEn">ComplaintsSuggestionsEn</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="BeneficiaryVoiceReportsEn">BeneficiaryVoiceReportsEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="WebsiteServicesStatisticsEn">WebsiteServicesStatisticsEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationAr">EParticipationAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ConsultationsAr">ConsultationsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="OpenDataAr">OpenDataAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="EParticipationPolicyAr">EParticipationPolicyAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SocialMediaAr">SocialMediaAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ComplaintsSuggestionsAr">ComplaintsSuggestionsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="BeneficiaryVoiceReportsAr">BeneficiaryVoiceReportsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="WebsiteServicesStatisticsAr">WebsiteServicesStatisticsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="Icons">Icons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopHeroEn">HomeDesktopHeroEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopSearchEn">HomeDesktopSearchEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopEn">HomeDesktopEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopLightEn">HomeDesktopLightEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopHeroAr">HomeDesktopHeroAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopAr">HomeDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeDesktopLightAr">HomeDesktopLightAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeEn">HomeEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HomeAr">HomeAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsEn">ContactUsEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsAr">ContactUsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsDesktopEn">ContactUsDesktopEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContactUsDesktopAr">ContactUsDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormEn">FormEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormAr">FormAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormDesktopEn">ContactUsDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FormDesktopAr">FormDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterEn">HelpCenterEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterAr">HelpCenterAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterDesktopEn">HelpCenterDesktopEn</a>
                        </li><li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="HelpCenterDesktopAr">HelpCenterDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceEn">ServiceEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceAr">ServiceAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceDesktopEn">ServiceDesktopEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ServiceDesktopAr">ServiceDesktopAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SearchPageEnRows">SearchPageEnRows</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SearchPageEnCards">SearchPageEnCards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FAQsEn">FAQsEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="FAQsAr">FAQsAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SiteMapPageEn">SiteMapPageEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SiteMapPageAr">SiteMapPageAr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContentPageEn">ContentPageEn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="ContentPageAr">ContentPageAr</a>
                        </li>
                    </ul>
                </div>               
                        
                       
            </div>

                
        </nav>
                <h2>Sections</h2>

                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

                    <div class="container-fluid">

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">

                                <li class="nav-item">
                                    @* <a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="SND">SND</a> *@
                                    SAMPLE SECTION
                                </li>
                                </ul>
                                </div>
                    </div>
                </nav>
            </div>
    
    }
    </header>
    @* <div class="container"> *@
        @* <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main> *@
    @* </div> *@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - dga_unified_code - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
