@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div style="width: 330px; left: 0px; top: 0px; position: absolute; background: var(--Background-background-white, white); box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); overflow: hidden; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <div style="align-self: stretch; padding: 16px; background: var(--Background-background-primary, #1B8354); overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
            <div data-on-color="True" data-size="Medium" data-state="Default" style="width: 32px; height: 32px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                    <div style="width: 11.25px; height: 11.25px; left: 4.38px; top: 4.38px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
                </div>
            </div>
            <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: inline-flex">
                    <div style="text-align: center; color: var(--Background-background-white, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 700; line-height: 20px; word-wrap: break-word">المساعدة والدعم</div>
                    <div data-rtl="True" data-size="x Small" data-status="Subtle" data-style="Green" style="height: 20px; padding-left: 8px; padding-right: 8px; background: var(--Tag-tag-background-success-light, #ECFDF3); border-radius: 9999px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                        <div style="text-align: right; color: var(--Tag-tag-text-success, #085D3A); font-size: 10px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 14px; word-wrap: break-word">متوفر</div>
                        <div style="width: 10px; height: 10px; background: var(--Tag-tag-icon-success, #085D3A); border-radius: 9999px"></div>
                    </div>
                </div>
                <div data-border="false" data-size="40px" data-square="False" data-type="Icon" style="width: 40px; height: 40px; position: relative">
                    <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: var(--Button-button-background-neutral-default, #F3F4F6); border-radius: 9999px; outline: 2px var(--Border-border-white, white) solid"></div>
                    <div style="width: 32px; height: 32px; left: 4px; top: 4px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                        <div data-style="Stroke" data-type="Rounded" style="width: 32px; height: 32px; position: relative">
                            <div style="width: 26px; height: 28.67px; left: 3px; top: 1.67px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: var(--Text-text-primary-paragraph, #384250); font-size: 10px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 14px; word-wrap: break-word">21 مارس في 9:23ص</div>
        <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
            <div style="padding: 8px; background: var(--Background-background-neutral-200, #E5E7EB); overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 160px; text-align: right; color: var(--Text-text-default, #161616); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 18px; word-wrap: break-word">مرحبًا، أنا وكيل الدعم الخاص بك هنا لتزويدك بالإجابات التي تحتاجها.</div>
            </div>
            <div style="padding: 8px; background: var(--Background-background-neutral-200, #E5E7EB); overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Text-text-default, #161616); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 18px; word-wrap: break-word">كيف يمكنني مساعدتك اليوم؟</div>
            </div>
        </div>
        <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: flex">
            <div style="padding: 8px; background: var(--Background-background-primary, #1B8354); overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 18px; word-wrap: break-word">أنا أستكشف الخدمات</div>
            </div>
            <div style="padding: 8px; background: var(--Background-background-primary, #1B8354); overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 18px; word-wrap: break-word"> أريد معرفة ما هو الرائج</div>
            </div>
            <div style="padding: 8px; background: var(--Background-background-primary, #1B8354); overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 12px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 18px; word-wrap: break-word"> أنا فقط أتصفح</div>
            </div>
        </div>
        <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 16px; padding-bottom: 16px; background: var(--Background-background-neutral-25, #FCFCFD); justify-content: center; align-items: center; gap: 4px; display: inline-flex">
            <div data-destructive="no" data-icon-only="True" data-lead-icon="true" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="width: 32px; height: 32px; max-width: 32px; min-width: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                    <div style="width: 14.58px; height: 9.58px; left: 17.29px; top: 14.79px; position: absolute; transform: rotate(-180deg); transform-origin: top left; background: var(--Icon-icon-oncolor, white)"></div>
                </div>
            </div>
            <div data-error="False" data-filled="False" data-icon="false" data-prefix="false" data-rtl="True" data-show-helper-text="false" data-show-label="false" data-size="Medium" data-state="Default" data-style="Filled darker" data-suffix="false" style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: inline-flex">
                <div style="align-self: stretch; height: 32px; background: var(--Form-field-background-darker, #F3F4F6); overflow: hidden; border-radius: 4px; justify-content: flex-end; align-items: center; display: inline-flex">
                    <div style="flex: 1 1 0; align-self: stretch; padding-left: 8px; padding-right: 16px; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
                            <div style="color: var(--Form-field-text-placeholder, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">رسالة</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
