@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%; height: 100%; padding: 16px; overflow: hidden; border-radius: 5px; border: 1px #9747FF solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 118px; display: inline-flex">
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
            <div style="align-self: stretch; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Was this page useful?</div>
            <div style="align-self: stretch; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% of users said Yes from 2843 Feedbacks</div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">Yes</div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">No</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: flex">
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="true" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Close</div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex; flex-wrap: wrap; align-content: center">
                <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Was this page useful?</div>
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">Yes</div>
                        </div>
                    </div>
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch"><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">Please tell us why</span><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word"> </span><span style="color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">(you can select multiple options)</span></div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Content is relevant</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">It was well written</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">The layout made it easy to read</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Something else</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div data-error="False" data-filled="True" data-resize="true" data-rtl="False" data-scroll-bar="true" data-show-helper-text="false" data-show-label="true" data-state="Default" data-style="Default" style="align-self: stretch; min-width: 200px; min-height: 96px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                    <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div data-disabled="False" data-required="false" data-rtl="False" data-size="Medium" data-type="Regular (Default)" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                            <div style="color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">Feedback</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 96px; position: relative; background: var(--Form-field-background-default, white); overflow: hidden; border-radius: 4px; outline: 1px var(--Form-field-border-default, #9DA4AE) solid; outline-offset: -1px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; color: var(--Form-field-text-filled, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Entered text</div>
                            </div>
                        </div>
                        <div data-rtl="En" style="width: 16px; align-self: stretch; mix-blend-mode: multiply; background: var(--Background-background-neutral-100, #F3F4F6); border-left: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="align-self: stretch; flex: 1 1 0; padding: 4px; border-bottom: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                <div style="align-self: stretch; height: 40px; background: var(--Form-Textarea-scrollbar-bar, #D2D6DB); border-radius: 9999px"></div>
                            </div>
                            <div style="width: 16px; height: 16px; position: relative"></div>
                        </div>
                        <div style="width: 12px; height: 12px; left: 316px; top: 82px; position: absolute; overflow: hidden">
                            <div style="width: 7px; height: 4px; left: 2px; top: 6.95px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                            <div style="width: 5px; height: 2px; left: 5.28px; top: 8.74px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: flex">
            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">I'm</div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Male</div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Female</div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">I prefer not to say</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="align-self: stretch; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">For more information you may review                                                              <br />and<br /></div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Submit</div>
                </div>
            </div>
            <div data-icon="false" data-inline="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" style="left: 0px; top: 20px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">e-participation statement</div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" style="left: 0px; top: 62px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">rules of engagement.</div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: flex">
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="true" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Close</div>
                </div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex; flex-wrap: wrap; align-content: center">
                <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Was this page useful?</div>
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">Yes</div>
                        </div>
                    </div>
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch"><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">Please tell us why</span><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word"> </span><span style="color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">(you can select multiple options)</span></div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Content is not relevant</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">content is not accurate</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Content is too long</div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Something else</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div data-error="False" data-filled="True" data-resize="true" data-rtl="False" data-scroll-bar="true" data-show-helper-text="false" data-show-label="true" data-state="Default" data-style="Default" style="align-self: stretch; min-width: 200px; min-height: 96px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                    <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div data-disabled="False" data-required="false" data-rtl="False" data-size="Medium" data-type="Regular (Default)" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                            <div style="color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">Feedback</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 96px; position: relative; background: var(--Form-field-background-default, white); overflow: hidden; border-radius: 4px; outline: 1px var(--Form-field-border-default, #9DA4AE) solid; outline-offset: -1px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; color: var(--Form-field-text-filled, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Entered text</div>
                            </div>
                        </div>
                        <div data-rtl="En" style="width: 16px; align-self: stretch; mix-blend-mode: multiply; background: var(--Background-background-neutral-100, #F3F4F6); border-left: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="align-self: stretch; flex: 1 1 0; padding: 4px; border-bottom: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                <div style="align-self: stretch; height: 40px; background: var(--Form-Textarea-scrollbar-bar, #D2D6DB); border-radius: 9999px"></div>
                            </div>
                            <div style="width: 16px; height: 16px; position: relative"></div>
                        </div>
                        <div style="width: 12px; height: 12px; left: 316px; top: 82px; position: absolute; overflow: hidden">
                            <div style="width: 7px; height: 4px; left: 2px; top: 6.95px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                            <div style="width: 5px; height: 2px; left: 5.28px; top: 8.74px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: flex">
            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">I'm</div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Male</div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Female</div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="False" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">I prefer not to say</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="align-self: stretch; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">For more information you may review                                                              <br />and<br /></div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="False" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">Submit</div>
                </div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" style="left: 0px; top: 20px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">e-participation statement</div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="False" data-size="Medium" data-state="Default" data-style="Primary" style="left: 0px; top: 62px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">rules of engagement.</div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
        <div style="flex: 1 1 0; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                </div>
                <div style="flex: 1 1 0; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">Your feedback is submitted!</div>
            </div>
            <div style="align-self: stretch; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% of users said Yes from 2843 Feedbacks</div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: inline-flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">لا</div>
                    </div>
                </div>
                <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                    <div style="justify-content: center; align-items: center; display: flex">
                        <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">نعم</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: flex">
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="true" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">إغلاق</div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex; flex-wrap: wrap; align-content: center">
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">لا</div>
                        </div>
                    </div>
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">نعم</div>
                        </div>
                    </div>
                </div>
                <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 32px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; text-align: right"><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">من فضلك أخبرنا بالسبب</span><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word"> </span><span style="color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">(يمكنك تحديد خيارات متعددة)</span></div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">المحتوى ذو صلة</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">لقد كانت مكتوبة بشكل جيد</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">جعل التخطيط من السهل القراءة</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">شيء آخر</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div data-error="False" data-filled="True" data-resize="true" data-rtl="True" data-scroll-bar="true" data-show-helper-text="false" data-show-label="true" data-state="Default" data-style="Default" style="align-self: stretch; min-width: 200px; min-height: 96px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                    <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                        <div data-disabled="False" data-required="false" data-rtl="True" data-size="Medium" data-type="Regular (Default)" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                            <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تعليق</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 96px; position: relative; background: var(--Form-field-background-default, white); overflow: hidden; border-radius: 4px; outline: 1px var(--Form-field-border-default, #9DA4AE) solid; outline-offset: -1px; justify-content: flex-end; align-items: center; display: inline-flex">
                        <div data-rtl="En" style="width: 16px; align-self: stretch; mix-blend-mode: multiply; background: var(--Background-background-neutral-100, #F3F4F6); border-left: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="align-self: stretch; flex: 1 1 0; padding: 4px; border-bottom: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                <div style="align-self: stretch; height: 40px; background: var(--Form-Textarea-scrollbar-bar, #D2D6DB); border-radius: 9999px"></div>
                            </div>
                            <div style="width: 16px; height: 16px; position: relative"></div>
                        </div>
                        <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-end; align-items: flex-start; gap: 4px; display: flex">
                            <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: flex-start; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; text-align: right; color: var(--Form-field-text-filled, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">النص المُدخل</div>
                            </div>
                        </div>
                        <div style="width: 12px; height: 12px; left: 14px; top: 94px; position: absolute; transform: rotate(180deg); transform-origin: top left; overflow: hidden">
                            <div style="width: 7px; height: 4px; left: 2.22px; top: 6.95px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                            <div style="width: 5px; height: 2px; left: 1.77px; top: 8.74px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">انا</div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">أفضّل ألا أقول</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">أنثى</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ذكر</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">لمزيد من المعلومات يمكنك مراجعة<br />و<br /></div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">إرسال</div>
                </div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="left: 191px; top: 23px; position: absolute; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">بيان المشاركة الإلكترونية</div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="left: 242px; top: 65px; position: absolute; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">قواعد الاشتراك</div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: flex">
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Subtle" data-trail-icon="true" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                </div>
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">إغلاق</div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex; flex-wrap: wrap; align-content: center">
                <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">لا</div>
                        </div>
                    </div>
                    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: flex">
                        <div style="justify-content: center; align-items: center; display: flex">
                            <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">نعم</div>
                        </div>
                    </div>
                </div>
                <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">هل كانت هذه الصفحة مفيدة؟</div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 32px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; text-align: right"><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">من فضلك أخبرنا بالسبب</span><span style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word"> </span><span style="color: var(--Text-text-secondary-paragraph, #6C737F); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">(يمكنك تحديد خيارات متعددة)</span></div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">المحتوى غير ذي صلة</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">المحتوى غير دقيق</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">المحتوى طويل جدًا</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="align-self: stretch; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">شيء آخر</div>
                        </div>
                        <div data-checked="False" data-indeterminate="False" data-size="Medium" data-state="Default" data-style="Primary" style="width: 24px; height: 24px; position: relative">
                            <div data-status="Unchecked" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div data-error="False" data-filled="True" data-resize="true" data-rtl="True" data-scroll-bar="true" data-show-helper-text="false" data-show-label="true" data-state="Default" data-style="Default" style="align-self: stretch; min-width: 200px; min-height: 96px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
                    <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                        <div data-disabled="False" data-required="false" data-rtl="True" data-size="Medium" data-type="Regular (Default)" style="justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                            <div style="text-align: right; color: var(--Form-field-text-label, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">تعليق</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 96px; position: relative; background: var(--Form-field-background-default, white); overflow: hidden; border-radius: 4px; outline: 1px var(--Form-field-border-default, #9DA4AE) solid; outline-offset: -1px; justify-content: flex-end; align-items: center; display: inline-flex">
                        <div data-rtl="En" style="width: 16px; align-self: stretch; mix-blend-mode: multiply; background: var(--Background-background-neutral-100, #F3F4F6); border-left: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="align-self: stretch; flex: 1 1 0; padding: 4px; border-bottom: 1px var(--Form-field-border-default, #9DA4AE) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                <div style="align-self: stretch; height: 40px; background: var(--Form-Textarea-scrollbar-bar, #D2D6DB); border-radius: 9999px"></div>
                            </div>
                            <div style="width: 16px; height: 16px; position: relative"></div>
                        </div>
                        <div style="flex: 1 1 0; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-end; align-items: flex-start; gap: 4px; display: flex">
                            <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; justify-content: flex-end; align-items: flex-start; display: flex">
                                <div style="flex: 1 1 0; align-self: stretch; text-align: right; color: var(--Form-field-text-filled, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">النص المُدخل</div>
                            </div>
                        </div>
                        <div style="width: 12px; height: 12px; left: 14px; top: 94px; position: absolute; transform: rotate(180deg); transform-origin: top left; overflow: hidden">
                            <div style="width: 7px; height: 4px; left: 2.22px; top: 6.95px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                            <div style="width: 5px; height: 2px; left: 1.77px; top: 8.74px; position: absolute; transform: rotate(-45deg); transform-origin: top left; background: var(--Form-field-border-pressed, #0D121C)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: flex">
            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 24px; word-wrap: break-word">انا</div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">أفضّل ألا أقول</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">أنثى</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-alert-message="false" data-helper-text="false" data-hitbox-focus-ring="false" data-rtl="True" style="border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
                <div style="justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                    <div style="justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                        <div style="text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ذكر</div>
                    </div>
                    <div data-selected="False" data-state="Default" data-style="Primary" style="width: 32px; height: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div style="width: 32px; height: 32px; position: relative">
                                <div data-selected="False" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border-radius: 9999px; border: 1px var(--Controls-control-border, #6C737F) solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; max-width: 1280px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">لمزيد من المعلومات يمكنك مراجعة<br />و<br /></div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Large" data-state="Default" data-style="Primary" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">إرسال</div>
                </div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="left: 191px; top: 23px; position: absolute; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">بيان المشاركة الإلكترونية</div>
            </div>
            <div data-icon="false" data-inline="True" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" style="left: 242px; top: 65px; position: absolute; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
                <div style="text-align: right; color: var(--Link-link-primary, #1B8354); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">قواعد الاشتراك</div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: var(--Background-background-white, white); overflow: hidden; border-top: 2px var(--Border-border-primary, #1B8354) solid; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
        <div style="flex: 1 1 0; max-width: 1280px; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">تم إرسال ردك بنجاح</div>
                <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                    <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-primary, #1B8354)"></div>
                </div>
            </div>
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 20px; word-wrap: break-word">60% من المستخدمين قالوا نعم من 2843 تعليقًا</div>
        </div>
    </div>
</div>