@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div style="flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 16px; display: inline-flex">
        <div data-icon-only="True" data-on-color="No" data-rtl="False" data-size="Small" data-state="Default" data-style="Primary-Brand" style="padding: 16px; background: var(--Button-button-background-primary-default, #1B8354); border-radius: 9999px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div data-style="Stroke" data-type="Rounded" style="width: 24px; height: 24px; position: relative">
                <div style="width: 21.50px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute; background: var(--Icon-icon-oncolor, white)"></div>
            </div>
        </div>
    </div>
}
