@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: flex-end; gap: 32px; display: inline-flex">
    <div style="width: 624px; max-width: 624px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
        <div style="align-self: stretch; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 60px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 72px; word-wrap: break-word">القسم الرئيسي</div>
        <div style="align-self: stretch; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 20px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 30px; word-wrap: break-word">هنا يمكنك إضافة وصف مختصر حول الغرض من البوابة متبوعًا بزر الحث على اتخاذ إجراء وصورة أو رسم توضيحي على الجانب الأيسر.</div>
    </div>
    <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="True" data-rtl="True" data-size="Large" data-state="Default" data-style="Neutral" data-trail-icon="false" style="height: 40px; max-height: 40px; min-height: 40px; padding-left: 16px; padding-right: 16px; background: var(--Button-button-background-oncolor-default, white); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
        <div style="justify-content: center; align-items: center; display: flex">
            <div style="color: var(--Text-text-default, #161616); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">إجراء رئيسي</div>
        </div>
    </div>
</div>