@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div style="width: 100%; height: 100%; padding: 32px; background: var(--Background-background-white, white); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div data-on-color="False" data-size="Medium" data-state="Default" style="width: 32px; height: 32px; overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; position: relative">
                        <div style="width: 11.25px; height: 11.25px; left: 4.38px; top: 4.38px; position: absolute; background: var(--Icon-icon-default, #161616)"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 18px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 28px; word-wrap: break-word">إدارة ملفات تعريف الارتباط</div>
                <div data-circle="True" data-color="Brand" data-size="Medium" data-style="Light" style="width: 40px; height: 40px; position: relative; background: var(--Icon-background-brand-light, #F3FCF6); border-radius: 9999px">
                    <div data-style="Stroke" data-type="Rounded" style="width: 20px; height: 20px; left: 10px; top: 10px; position: absolute">
                        <div style="width: 17.92px; height: 17.92px; left: 1.04px; top: 1.04px; position: absolute; background: var(--Icon-icon-success, #067647)"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 72px; text-align: right; color: var(--Text-text-primary-paragraph, #384250); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 24px; word-wrap: break-word">عند زيارة أي موقع على الويب، قد يخزّن هذا الأخير المعلومات على المستعرض أو يستردها على شكل ملفات تعريف ارتباط على الأغلب. وقد تكون هذه المعلومات عنك أو عن تفضيلاتك أو عن جهازك أو قد يتم استخدامها ليعمل الموقع كما تتوقع. لا تعرّف المعلومات عنك عادةً مباشرةً، ولكنها قد تمنحك تجربة ويب أكثر تخصيصًا. يمكنك اختيار عدم السماح ببعض أنواع ملفات تعريف الارتباط. انقر فوق عناوين الفئات المختلفة لمعرفة المزيد وتغيير إعداداتنا الافتراضية. ومع ذلك، يجب أن تعرف أن حظر بعض أنواع ملفات تعريف الارتباط قد يؤثر في تجربتك على الموقع وفي الخدمات التي يمكننا تقديمها. </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div data-alert-message="false" data-helper-text="false" data-rtl="True" data-trail-switch="False" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 4px; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ملفات تعريف الارتباط هذه ضرورية للغاية (نشطة دائماً)</div>
                        </div>
                        <div data-icon="false" data-on="True" data-rtl="True" data-state="Disabled" style="width: 48px; height: 24px; position: relative">
                            <div style="width: 48px; height: 24px; left: 0px; top: 0px; position: absolute; background: var(--Global-control-disabled, #D2D6DB); border-radius: 9999px"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-rtl="True" data-trail-switch="False" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ملفات تعريف الارتباط الخاصة بالأداء</div>
                        </div>
                        <div data-icon="false" data-on="True" data-rtl="True" data-state="Default" style="width: 48px; height: 24px; position: relative">
                            <div style="width: 48px; height: 24px; left: 0px; top: 0px; position: absolute; background: var(--Controls-control-primary-checked, #1B8354); border-radius: 9999px"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-rtl="True" data-trail-switch="False" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ملفات تعريف الارتباط الوظيفية</div>
                        </div>
                        <div data-icon="false" data-on="True" data-rtl="True" data-state="Default" style="width: 48px; height: 24px; position: relative">
                            <div style="width: 48px; height: 24px; left: 0px; top: 0px; position: absolute; background: var(--Controls-control-primary-checked, #1B8354); border-radius: 9999px"></div>
                        </div>
                    </div>
                </div>
                <div data-alert-message="false" data-helper-text="false" data-rtl="True" data-trail-switch="False" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                    <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div style="flex: 1 1 0; justify-content: flex-end; align-items: center; gap: 8px; display: flex">
                            <div style="flex: 1 1 0; text-align: right; color: var(--Text-text-display, #1F2A37); font-size: 16px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 24px; word-wrap: break-word">ملفات تعريف الارتباط المُستهدِفة</div>
                        </div>
                        <div data-icon="false" data-on="True" data-rtl="True" data-state="Default" style="width: 48px; height: 24px; position: relative">
                            <div style="width: 48px; height: 24px; left: 0px; top: 0px; position: absolute; background: var(--Controls-control-primary-checked, #1B8354); border-radius: 9999px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Primary" data-trail-icon="false" style="align-self: stretch; height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; background: var(--Button-button-background-primary-default, #1B8354); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-oncolor-primary, white); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">تأكيد خياراتي</div>
                </div>
            </div>
            <div data-destructive="no" data-icon-only="False" data-lead-icon="false" data-on-color="False" data-rtl="True" data-size="Medium" data-state="Default" data-style="Secondary-Outline" data-trail-icon="false" style="align-self: stretch; height: 32px; max-height: 32px; min-height: 32px; padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 4px; outline: 1px var(--Border-border-neutral-primary, #D2D6DB) solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="color: var(--Text-text-default, #161616); font-size: 14px; font-family: IBM Plex Sans Arabic; font-weight: 500; line-height: 20px; word-wrap: break-word">رفض الكل </div>
                </div>
            </div>
        </div>
    </div>
}
