@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div style="width: 100%; height: 100%; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; position: relative; background: #8A6D36; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: center; gap: 32px; display: inline-flex">
    <div style="width: 491px; height: 491px; left: 0px; top: 0px; position: absolute; background: #82662B">
        <div style="width: 56.67px; height: 56.67px; left: 0px; top: 434.33px; position: absolute">
            <div style="width: 56.67px; height: 56.67px; left: 0px; top: 0px; position: absolute; background: #82662B"></div>
            <div style="width: 12.08px; height: 41.08px; left: 7.80px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 17.46px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 17.46px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 19.88px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 19.88px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 22.29px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 24.71px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 24.71px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 17.46px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 22.29px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 31.96px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 36.79px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 27.13px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 29.54px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 29.54px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 31.96px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 34.38px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 34.38px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 36.79px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 12.08px; height: 41.08px; left: 36.79px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 36.25px; left: 46.46px; top: 12.63px; position: absolute; background: #59441C"></div>
            <div style="width: 26.58px; height: 26.58px; left: 15.04px; top: 15.04px; position: absolute; background: #B39E53"></div>
            <div style="width: 4.83px; height: 16.92px; left: 27.13px; top: 15.04px; position: absolute; background: #B39E53"></div>
        </div>
        <div style="width: 56.67px; height: 56.67px; left: 433.84px; top: 434.33px; position: absolute">
            <div style="width: 56.67px; height: 56.67px; left: 0px; top: 0px; position: absolute; background: #82662B"></div>
            <div style="width: 12.08px; height: 41.08px; left: 7.80px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 17.46px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 17.46px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 19.88px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 19.88px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 22.29px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 24.71px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 24.71px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 17.46px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 22.29px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 31.96px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 36.79px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 27.13px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 29.54px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 29.54px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 31.96px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 34.38px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 34.38px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 36.79px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 12.08px; height: 41.08px; left: 36.79px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 36.25px; left: 46.46px; top: 12.63px; position: absolute; background: #59441C"></div>
            <div style="width: 26.58px; height: 26.58px; left: 15.04px; top: 15.04px; position: absolute; background: #B39E53"></div>
            <div style="width: 4.83px; height: 16.92px; left: 27.13px; top: 15.04px; position: absolute; background: #B39E53"></div>
        </div>
        <div style="width: 56.67px; height: 56.67px; left: 434.33px; top: 0px; position: absolute">
            <div style="width: 56.67px; height: 56.67px; left: 0px; top: 0px; position: absolute; background: #82662B"></div>
            <div style="width: 12.08px; height: 41.08px; left: 7.80px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 17.46px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 17.46px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 19.88px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 19.88px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 22.29px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 24.71px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 24.71px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 17.46px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 22.29px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 31.96px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 36.79px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 27.13px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 29.54px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 34.38px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 29.54px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 31.96px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 34.38px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 34.38px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 36.79px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 12.08px; height: 41.08px; left: 36.79px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 36.25px; left: 46.46px; top: 12.63px; position: absolute; background: #59441C"></div>
            <div style="width: 26.58px; height: 26.58px; left: 15.04px; top: 15.04px; position: absolute; background: #B39E53"></div>
            <div style="width: 4.83px; height: 16.92px; left: 27.13px; top: 15.04px; position: absolute; background: #B39E53"></div>
        </div>
        <div style="width: 56.67px; height: 56.67px; left: 0px; top: 0px; position: absolute">
            <div style="width: 56.67px; height: 56.67px; left: 0px; top: 0px; position: absolute; background: #82662B"></div>
            <div style="width: 12.08px; height: 41.08px; left: 7.80px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 17.46px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 17.46px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 19.88px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 19.88px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 22.29px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 22.29px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 24.71px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 24.71px; top: 34.37px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 24.71px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 17.46px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 22.29px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 31.96px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 27.13px; top: 36.79px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 27.13px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 19.88px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 7.25px; left: 29.54px; top: 24.71px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 29.54px; top: 34.37px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 29.54px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 22.29px; position: absolute; background: #0E3036"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 27.13px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 31.96px; top: 31.96px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 31.96px; top: 10.21px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 7.25px; left: 34.38px; top: 24.71px; position: absolute; background: #0E3036"></div>
            <div style="width: 4.83px; height: 38.67px; left: 34.38px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 2.42px; left: 36.79px; top: 27.13px; position: absolute; background: #0E3036"></div>
            <div style="width: 12.08px; height: 41.08px; left: 36.79px; top: 7.79px; position: absolute; background: #59441C"></div>
            <div style="width: 2.42px; height: 36.25px; left: 46.46px; top: 12.63px; position: absolute; background: #59441C"></div>
            <div style="width: 26.58px; height: 26.58px; left: 15.04px; top: 15.04px; position: absolute; background: #B39E53"></div>
            <div style="width: 4.83px; height: 16.92px; left: 27.13px; top: 15.04px; position: absolute; background: #B39E53"></div>
        </div>
        <div style="width: 383.41px; height: 40.02px; left: 54.01px; top: 8.43px; position: absolute">
            <div style="width: 11.98px; height: 20.01px; left: 0px; top: 20.01px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 0px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 11.98px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 0px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 0px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 23.96px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 35.94px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 23.96px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 23.96px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 47.93px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 59.91px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 47.93px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 47.93px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 71.89px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 83.87px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 71.89px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 71.89px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 95.85px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 107.83px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 95.85px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 95.85px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 119.81px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 131.80px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 119.81px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 119.81px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 143.78px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 155.76px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 143.78px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 143.78px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 167.74px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 179.72px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 167.74px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 167.74px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 191.70px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 203.69px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 191.70px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 191.70px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 215.67px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 227.65px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 215.67px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 215.67px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 239.63px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 251.61px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 239.63px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 239.63px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 263.59px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 275.57px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 263.59px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 263.59px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 287.55px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 299.54px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 287.55px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 287.55px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 311.52px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 323.50px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 311.52px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 311.52px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 335.48px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 347.46px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 335.48px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 335.48px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 359.45px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 371.43px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 359.45px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 15.12px; height: 40.02px; left: 359.45px; top: 0px; position: absolute; background: #3D3017"></div>
        </div>
        <div style="width: 383.41px; height: 40.02px; left: 54.01px; top: 442.75px; position: absolute">
            <div style="width: 11.98px; height: 20.01px; left: 0px; top: 20.01px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 0px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 11.98px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 0px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 0px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 23.96px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 35.94px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 23.96px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 23.96px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 47.93px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 59.91px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 47.93px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 47.93px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 71.89px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 83.87px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 71.89px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 71.89px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 95.85px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 107.83px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 95.85px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.94px; height: 40.02px; left: 95.85px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 119.81px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 131.80px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 119.81px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 119.81px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 143.78px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 155.76px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 143.78px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 143.78px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 167.74px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 179.72px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 167.74px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 167.74px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 191.70px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 203.69px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 191.70px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 191.70px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 215.67px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 227.65px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 215.67px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 215.67px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 239.63px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 251.61px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 239.63px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 239.63px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 263.59px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 275.57px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 263.59px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 263.59px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 287.55px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 299.54px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 287.55px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 287.55px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 311.52px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 323.50px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 311.52px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 311.52px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 335.48px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 347.46px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 335.48px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 35.95px; height: 40.02px; left: 335.48px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 359.45px; top: 20.01px; position: absolute; background: #58451C"></div>
            <div style="width: 11.98px; height: 36.01px; left: 371.43px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 23.96px; height: 20.01px; left: 359.45px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 15.12px; height: 40.02px; left: 359.45px; top: 0px; position: absolute; background: #3D3017"></div>
        </div>
        <div style="width: 348.12px; height: 40.02px; left: 442.75px; top: 402.20px; position: absolute; transform: rotate(-90deg); transform-origin: top left">
            <div style="width: 20.01px; height: 11.98px; left: 20.01px; top: 371.43px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 359.45px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 359.45px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 359.45px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 347.46px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 335.48px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 335.48px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 335.48px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 323.50px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 311.52px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 311.52px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 311.52px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 299.54px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 287.55px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 287.55px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 287.55px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 275.57px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 263.59px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 263.59px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 263.59px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 251.61px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 239.63px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 239.63px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 239.63px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 227.65px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 215.67px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 215.67px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 215.67px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 203.69px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 191.70px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 191.70px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 191.70px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 179.72px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 167.74px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 167.74px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 167.74px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 155.76px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 143.78px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 143.78px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 143.78px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 131.80px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 119.81px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 119.81px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 119.81px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 107.83px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 95.85px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 95.85px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 95.85px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 83.87px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 71.89px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 71.89px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 71.89px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 59.91px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 47.93px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 47.92px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 47.92px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 35.94px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 23.96px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 23.96px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 23.96px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 11.98px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 15.12px; left: 0px; top: 8.84px; position: absolute; background: #3D3017"></div>
        </div>
        <div style="width: 348.12px; height: 40.02px; left: 7.94px; top: 402.20px; position: absolute; transform: rotate(-90deg); transform-origin: top left">
            <div style="width: 20.01px; height: 11.98px; left: 20.01px; top: 371.43px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 359.45px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 359.45px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 359.45px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 347.46px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 335.48px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 335.48px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 335.48px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 323.50px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 311.52px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 311.52px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 311.52px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 299.54px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 287.55px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 287.55px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 287.55px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 275.57px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 263.59px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 263.59px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 263.59px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.94px; left: 0px; top: 251.61px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 239.63px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 239.63px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 239.63px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 227.65px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 215.67px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 215.67px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 215.67px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 203.69px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 191.70px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 191.70px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 191.70px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 179.72px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 167.74px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 167.74px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 167.74px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 155.76px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 143.78px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 143.78px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 143.78px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 131.80px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 119.81px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 119.81px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 119.81px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 107.83px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 95.85px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 95.85px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 95.85px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 83.87px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 71.89px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 71.89px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 71.89px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 59.91px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 47.93px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 47.92px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 47.92px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 35.94px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 23.96px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 23.96px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 23.96px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 35.95px; left: 0px; top: 11.98px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 20.01px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 36.01px; height: 11.98px; left: 0px; top: 0px; position: absolute; background: #3D3017"></div>
            <div style="width: 20.01px; height: 23.96px; left: 0px; top: 0px; position: absolute; background: #58451C"></div>
            <div style="width: 40.02px; height: 15.12px; left: 0px; top: 8.84px; position: absolute; background: #3D3017"></div>
        </div>
        <img style="width: 370.66px; height: 370.06px; left: 60.23px; top: 60.25px; position: absolute" src="https://placehold.co/371x370" />
    </div>
    <div style="width: 1280px; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 32px; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 60px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 72px; word-wrap: break-word">عِزّنا برؤيتنا</div>
            <div style="width: 787px; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 20px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 30px; word-wrap: break-word">رؤية السعودية 2030، التي أطلقها صاحب السمو الملكي الأمير محمد بن سلمان بن عبد العزيز آل سعود، ولي العهد رئيس مجلس الوزراء، بهدف بناء مستقبل مزدهر ومستدام. وتهدف الرؤية إلى إيماننا بقدراتنا على تحقيق التحول والتقدم، وصناعة مستقبل أفضل لوطننا. مع الحفاظ على هويتنا وقيمنا، مما يدل على وعي عميق وتوجه طموح لصناعة الغد.</div>
        </div>
    </div>
    <div data-style="Dots Only" style="align-self: stretch; flex-direction: column; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; border-radius: 9999px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div data-selected="True" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Stepper-stepper-button-completed, #1B8354); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
            </div>
        </div>
    </div>
</div>