@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div style="width: 100%; height: 100%; padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 40px; overflow: hidden; background-image: url(https://placehold.co/1440x491); flex-direction: column; justify-content: flex-end; align-items: center; gap: 32px; display: inline-flex">
    <div style="width: 1280px; max-width: 1280px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 32px; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 24px; display: flex">
            <div style="align-self: stretch; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 60px; font-family: IBM Plex Sans Arabic; font-weight: 600; line-height: 72px; word-wrap: break-word">اليوم الوطني السعودي 95</div>
            <div style="width: 787px; text-align: right; color: var(--Text-text-oncolor-primary, white); font-size: 20px; font-family: IBM Plex Sans Arabic; font-weight: 400; line-height: 30px; word-wrap: break-word">نحتفي بمرور 95 عامًا من العز والفخر لوطننا</div>
        </div>
    </div>
    <div data-style="Dots Only" style="align-self: stretch; flex-direction: column; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; border-radius: 9999px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div data-selected="True" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Stepper-stepper-button-completed, #1B8354); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
                <div data-selected="False" data-size="Mideum" style="width: 12px; height: 12px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 12px; height: 12px; background: var(--Background-background-neutral-200, #E5E7EB); border-radius: 9999px"></div>
                </div>
            </div>
        </div>
    </div>
</div>